$color-theme: #212844;

$color-title: #4D4A4A;
$color-text: #676767;
$color-text1: #757575;
$color-border: #D1D9E1;
$color-bg: #FFFFFF;

$color-green: #27A384;
$color-blue: #2466A8;
$color-red:#FF3B30;
$color-orange:#F7BA2A;